<template>
  <!-- Product Shop Section Begin -->
  <section class="product-shop spad page-details">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6">
              <div class="product-pic-zoom">
                <img class="product-big-img" :src="parentPicture" alt />
              </div>
              <div class="product-thumbs">
                <carousel
                  class="product-thumbs-track ps-slider"
                  :items="3"
                  :nav="false"
                  :dots="false"
                  :autoplay="true"
                  :margin="10"
                >
                  <div
                    class="pt"
                    @click="changePicture(pictures[0])"
                    :class="pictures[0] == parentPicture ? 'active' : ''"
                  >
                    <img :src="pictures[0]" alt />
                  </div>

                  <div
                    class="pt"
                    @click="changePicture(pictures[1])"
                    :class="pictures[1] == parentPicture ? 'active' : ''"
                  >
                    <img :src="pictures[1]" alt />
                  </div>

                  <div
                    class="pt"
                    @click="changePicture(pictures[2])"
                    :class="pictures[2] == parentPicture ? 'active' : ''"
                  >
                    <img :src="pictures[2]" alt />
                  </div>

                  <div
                    class="pt"
                    @click="changePicture(pictures[3])"
                    :class="pictures[3] == parentPicture ? 'active' : ''"
                  >
                    <img :src="pictures[3]" alt />
                  </div>
                </carousel>
              </div>
            </div>
            <div class="col-lg-6 text-left">
              <div class="product-details">
                <div class="pd-title">
                  <span>oranges</span>
                  <h3>Pure Pineapple</h3>
                </div>
                <div class="pd-desc">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, error officia. Rem aperiam laborum voluptatum vel, pariatur modi hic provident eum iure natus quos non a sequi, id accusantium! Autem.</p>
                  <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam possimus quisquam animi, commodi, nihil voluptate nostrum neque architecto illo officiis doloremque et corrupti cupiditate voluptatibus error illum. Commodi expedita animi nulla aspernatur.
                    Id asperiores blanditiis, omnis repudiandae iste inventore cum, quam sint molestiae accusamus voluptates ex tempora illum sit perspiciatis. Nostrum dolor tenetur amet, illo natus magni veniam quia sit nihil dolores.
                    Commodi ratione distinctio harum voluptatum velit facilis voluptas animi non laudantium, id dolorem atque perferendis enim ducimus? A exercitationem recusandae aliquam quod. Itaque inventore obcaecati, unde quam
                    impedit praesentium veritatis quis beatae ea atque perferendis voluptates velit architecto?
                  </p>
                  <h4>$495.00</h4>
                </div>
                <div class="quantity">
                  <router-link to="/shopping-cart">
                    <a href="shopping-cart.html" class="primary-btn pd-cart">Add To Cart</a>
                  </router-link>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Product Shop Section End -->
</template>

<script>
import carousel from "vue-owl-carousel";

export default {
  name: "ProductShop",
  components: {
    carousel
  },
  data() {
    return {
      parentPicture: "img/mickey1.jpg",
      pictures: [
        "img/mickey1.jpg",
        "img/mickey2.jpg",
        "img/mickey3.jpg",
        "img/mickey4.jpg"
      ]
    };
  },
  methods: {
    changePicture(childPicture) {
      this.parentPicture = childPicture;
    }
  }
};
</script>

<style scoped>
img::before {
  background-color: rgb(245, 94, 94);
}
</style>