<template>
  <div class="home">
    <Header />
    <HeroSection />
    <Banner />
    <Instagram />
    <Logo />
    <Footer />
  </div>
</template>

<script>
// @ is an alias to /src
import Header from "@/components/Header.vue";
import HeroSection from "@/components/HeroSection.vue";
import Banner from "@/components/Banner.vue";
import Instagram from "@/components/Instagram.vue";
import Logo from "@/components/Logo.vue";
import Footer from "@/components/Footer.vue";

export default {
  name: "Home",
  components: {
    Header,
    HeroSection,
    Banner,
    Instagram,
    Logo,
    Footer
  }
};
</script>
