<template>
  <div class="Product">
    <Header />
    <Breadcumb />
    <ProductShop />
    <RelatedProduct />
    <Footer />
  </div>
</template>

<script>
import Header from "@/components/Header.vue";
import Breadcumb from "@/components/Breadcumb.vue";
import RelatedProduct from "@/components/product/RelatedProduct.vue";
import ProductShop from "@/components/product/ProductShop.vue";
import Footer from "@/components/Footer.vue";

export default {
  name: "Product",
  components: {
    Header,
    Breadcumb,
    RelatedProduct,
    ProductShop,
    Footer
  }
};
</script>