<template>
  <div class="ShoppingCart">
    <Header />
    <Breadcumb />
    <Cart />
  </div>
</template>

<script>
import Header from "@/components/Header.vue";
import Breadcumb from "@/components/Breadcumb";
import Cart from "@/components/shopping_cart/Cart.vue";

export default {
  name: "ShoppingCart",
  components: {
    Header,
    Breadcumb,
    Cart
  }
};
</script>